.team-bye {
  position: relative;
}

.team-bye > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --webkit-transform: translate(-50%, -50%);
  --moz-transform: translate(-50%, -50%);
  --o-transform: translate(-50%, -50%);
}

.score-images-container {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li.score-image-item {
      border: 3px solid $mc-secondary;
      margin: 0 1rem 1rem 0;
      width: calc(33% - 1rem);
      position: relative;

      .score-image-detail {

      }
    }

    .score-image-item {
      .score-image-detail {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.250rem 1rem;
        background-color: rgba($mc-primary, 0.6);
      }
    }
  }
}