//
// Stepper Links
//

// Base
.stepper.stepper-links {
  .stepper-nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .stepper-item {
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      flex-shrink: 0;
      margin: 1rem 0;

      .stepper-label {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
      }

      .stepper-icon {
        margin-bottom: 1.25rem;
      }

      .stepper-title,
      .stepper-icon i,
      .stepper-icon .svg-icon,
      .stepper-arrow svg {
        color: var(--kt-gray-400);
      }

      .stepper-title {
        //color: var(--kt-dark);
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 0;
      }

      // Current
      &.current {
        transition: $transition-link;

        .stepper-title,
        .stepper-icon i,
        .stepper-icon .svg-icon,
        .stepper-arrow svg {
          color: $mc-secondary;
        }
      }

      &.current.mark-completed:last-child,
      &.completed {
        .stepper-title {
          color: var(--kt-gray-400);
        }
      }
    }
  }
}
